@import "ease/ease-import.scss";
@import "../../../animations.scss";

:host {
  .user-item {
    align-items: center;
    border-bottom: 1px solid $color-fog;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    height: 60px;
    padding: 12px;
    color: $color-night;

    &__image {
      border-radius: 20%;
      height: 40px;
      width: 40px;
    }

    &__name,
    &__email,
    &__phone {
      margin: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      white-space: nowrap;
    }

    &__name {
      flex: 1;
      min-width: 100px;
    }

    &__email {
      width: 220px;
    }

    &__phone {
      width: 110px;
    }

    &__nat {
      margin-left: 12px;
      text-align: right;
      width: 80px;
    }
  }

  .user-details {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .user-info {
      font-family: Arial, sans-serif;
      color: #343a40;
      line-height: 1.8;

      h3 {
        margin-top: 0;
        color: var(--color-primary);
      }

      p {
        font-weight: 200;
        margin: 5px 0;
      }

      strong {
        font-weight: 600;
      }
    }

    .map {
      max-width: 460px;
      width: 100%;
      height: 100%;

      iframe {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1px solid var(--color-text-normal);
      }
    }
  }

  .active {
    background-color: var(--color-fog);
  }

  @media (max-width: 768px) {
    .map {
      display: none;
    }
  }
}
