@import "ease/ease-import.scss";
@import "../../../animations.scss";

:host {
  .user-list {
    background-color: $color-white;
    border-radius: 18px;
    border: 6px solid $color-sky;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 60%;
    padding: 12px;

    .grouping {
      display: flex;

      .group {
        background: #e2d8fe;
        padding: 5px 8px;
        border: 3px solid #dbcffc;
        border-radius: 8px;
        cursor: pointer;
        margin: 5px 10px;
      }
    }
  }

  .error-img {
    display: flex;
    justify-content: center;

    img {
      margin: 0 auto;
      width: 60%;
      max-width: 600px;
      min-width: 300px;
    }
  }
}
