@import "ease/ease-import.scss";
@import "../../../animations.scss";

:host {
  .user-list {
    background-color: $color-white;
    border-radius: 18px;
    border: 6px solid $color-sky;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 60%;
    padding: 12px;

    header {
      display: flex;
      justify-content: space-between;
      padding: 0px 10px 12px;
      border-bottom: 1px solid var(--color-fog);

      input,
      select {
        background-color: #e3d8fd;
        border: 1px solid #c9b5f8;
        border-radius: 15px;
        padding: 5px 10px;
      }

      input::placeholder {
        color: black;
      }
    }

    .header-title {
      display: flex;
      justify-content: space-between;
      padding: 0px;

      .header-row {
        &__name,
        &__email,
        &__phone,
        &__nat {
          margin: 12px;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
          white-space: nowrap;
        }

        &__name {
          flex: 1;
          min-width: 100px;
        }

        &__email {
          width: 220px;
        }

        &__phone {
          width: 110px;
        }

        &__nat {
          margin-left: 12px;
          text-align: right;
          width: 80px;
        }
      }
    }
  }

  .error-img {
    display: flex;
    justify-content: center;

    img {
      margin: 0 auto;
      width: 60%;
      max-width: 600px;
      min-width: 300px;
    }
  }
}

@media (max-width: 768px) {
  input,
  select {
    max-width: 114px;
  }

  .user-list {
    max-width: 80% !important;
  }
}
