@if (visibleUsers.length) {
<article class="user-list fade-in">
  <header>
    <div>
      <input
        #search
        type="text"
        placeholder="Search anything..."
        (input)="processUsers('search', search.value)"
      />
    </div>
    <div>
      <select #dropdown (change)="processUsers('group', dropdown.value)">
        <option value="" selected>Group users</option>
        @for (group of groups; track $index) {
        <option [value]="group">{{ group | titlecase }}</option>
        }
      </select>
    </div>
  </header>

  <header class="header-title">
    <div class="header-row__name">Name and Surname</div>
    <div class="header-row__email">Email</div>
    <div class="header-row__phone">Phone number</div>
    <div class="header-row__nat">Nationality</div>
  </header>

  @for (user of visibleUsers; track $index) {
  <app-user-item
    [user]="user"
    [allUsers]="allUsers"
    [selectedUser]="selectedUser"
    (click)="
      selectedUser =
        user.login?.uuid === selectedUser?.login?.uuid ? undefined : user
    "
  />
  }
</article>
} @else if (!visibleUsers.length && !usersError()?.error) {
<article class="user-list fade-in">
  <p>Loading…</p>
</article>
} @else if (usersError()?.error) {
<article class="user-list fade-in">
  {{ usersError()?.error.error }}
</article>
<div class="error-img">
  <img class="scale-up-center" src="assets/error-429.png" />
</div>
}
