@if (visibleUsers.length) {
<article class="user-list">
  <div class="grouping">
    @for (group of groups; track $index) {
    <div class="group" (click)="groupUsers(group)">{{ group | titlecase }}</div>
    }
  </div>

  @for (user of visibleUsers; track $index) {
  <app-user-item [user]="user" [allUsers]="allUsers" />
  }
</article>
} @else if (!usersError) {
<article class="user-list fade-in">
  <p>Loading…</p>
</article>
} @else if (usersError()?.error) {
<article class="user-list fade-in">
  {{ usersError()?.error.error }}
</article>
<div class="error-img">
  <img class="scale-up-center" src="assets/error-429.png" />
</div>
}
